<table class="table table-striped table-bordered">
    <tr>
      <th class="center">Company Name</th>
      <th class="center">Contact Person </th>
      <th class="center">Email Address</th>
      <th class="center">Telephone No</th>
      <th class="center">Website URL</th>
      <th class="center">Created By</th>
       <th class="center">Action</th>
    </tr>

    <% @listings.each do |listing| %>
      <tr>
        <td class="center"><%= listing.company %></td>
        <td class="center"><%= listing.contact %></td>
        <td class="center"><%= listing.email %></td>
        <td class="center"><%= listing.telephone %></td>
        <td class="center"><%= listing.website %></td>
        <td class="center"><%= "#{listing.user.name}" %></td>
        <td><%= link_to 'Show', listing, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
